<tfoot>
  <tr>
    <td colspan="4">
      Totals
    </td>
    <td class="gross_rate text-end">
      <%= number_to_currency @analysis.gross_rate %>
    </td>
    <td class="commission text-end">
      <%= number_to_currency @analysis.commission %>
    </td>
  </tr>
</tfoot>
